* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    background-color: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
}

/* Page d'accueil */

.loader { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e1e1e1; 
    opacity: 0.7;
    animation: loader 1s linear 1s normal forwards;
    z-index: 2;
}


.loader::after {
    content: "";
    width: 150px;
    height: 150px;
    border: 10px solid #ffc2ee;
    border-top-color:  #ff79da ;
    border-radius: 50%;
    animation: loading 2s ease infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(3turn);
    }
}

@keyframes loader {
    0% {
        opacity: 0.7;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.navbar {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    position: relative;
}

.search-bar {
    background: #EAEAEA;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px 0;
    z-index: -1;
}

.search-bar input {
    background: #EAEAEA;
    border: none;
    display: flex;
    text-align: center;
    width: 110px; 
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

section#intro {
    background: #f2f2f2;
    width: 100%;
    text-align: center;
}

section#intro h1 {
    padding: 40px 20px 10px 20px;
    font-size: 30px
}

section#intro p {
    font-size: 20px;
    padding: 0px 10px 30px 10px;
    font-weight: 300;
}

.btn-explorer {
    border-radius: 20px;
    border: none;
    text-align: center;
    width: 180px;
    height: 45px;
    background: linear-gradient(#ff79Da, #9356DC);
    color: #ffffff;
    margin: 0 0 40px 0;
    box-shadow: 2px 4px 8px 5px #cbcbcb;
}

.btn-explorer:hover {
    filter: brightness(1.1);
    box-shadow: 2px 4px 7px 7px #b4b4b4;
}

.function {
    background: #ffffff;
}

.function h1 {
    padding: 30px 0 0 20px;
}

@media  screen and (min-width: 768px) {
    .function h1 {
        font-size: 24px;
        margin: 0 0 0 150px;
    }
}

@media screen and (min-width: 768px) {
    .container-information {
        display: flex;
        flex-direction: row;
        gap: 38px;
        justify-content: center;
    }
}


.information {
    background: #f2f2f2;
    width: 80%;
    height: 80px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    text-align: center;
    align-items: center;
    margin: 30px auto 30px auto;
    position: relative;
    box-shadow: 0px 5px 11px 2px #e1e1e1;
}

@media screen and (min-width: 768px) {
    .information {
        display: flex;
        flex-direction: row;
        width: 23%;
        margin: 30px 0 50px 0;
    }

}

.function .container-information .information .fa-mobile-screen-button {
    color: #7e7e7e;
    margin: auto 20px auto 40px;
}

.information .fa-list-ul {
    color: #7e7e7e;
    margin: auto 20px auto 40px;
}

.information .fa-store {
    color: #9356dc;
    margin: auto 20px auto 40px;
}

.function .number {
    background: #9356dc;
    color: white;
    display: flex;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -13px;
}

.restaurant {
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 0 0 70px 0;
}

.restaurant h1 {
    padding: 30px 0 30px 20px;
}

@media screen and (min-width: 768px) {
    .restaurant h1 {
        font-size: 24px;
        margin: 0 0 0 150px;
    }
}

.restaurant .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 0;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .restaurant .cards {
        display: flex;
        flex-direction: row;
        gap: 70px;
    }
}

.restaurant .cards a {
    width: 90%;
}

@media screen and (min-width: 768px) {
    .restaurant .cards a{
        width: 36%;
        
    }
}

.restaurant .cards .card {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    transition: .3s;
    box-shadow: 0 0 15px 3px rgba(0,0,0,0.1);
    position: relative;
}

.restaurant .cards .card .new-menu {
    background-color: #99e2d0;
    color: #008766;
    position: absolute;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    right: 15px;
    top: 15px;
    z-index: 1;
}

.restaurant .cards .card img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.restaurant .cards .card .container {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.restaurant .cards .card .container .description {
    display: flex;
    flex-direction: row; /* ✅ */
    justify-content: space-between;
    align-items: center;
    color: black;
}

.restaurant .cards .card .container .description span {
    display: flex;
    justify-content: space-between;
}


.heart-empty {
    opacity: 1;
    transition: opacity 0.3s;
}

.heart-full {
    opacity: 0;
    background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* 🔥 TRÈS IMPORTANT */
    color: transparent;
    transition: opacity 0.3s;
}

.hearts:hover .heart-empty{
    opacity: 0;
}

.hearts:hover .heart-full{
    opacity: 1;
}

.footer  {
    background: #353535;
    color: white;
    padding: 20px 0 30px 30px;
}

.footer span {
    font-family: 'Shrikhand', sans-serif;
    font-size: 20px;

}

.footer .links {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 0;
}

.footer .links ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer .links ul li {
    font-family: 'Roboto', sans-serif;
}

.footer .links ul li a{
    color: white;
    cursor: pointer;
}

.footer .links ul li i {
    margin: 0 10px 0 0;
    font-size: 15px;
    width: 15px;
}

/* Menu 1 */

.navbar i {
    display: flex;
    position: absolute;
    left: 30px;
    top: 30px;
    color: black;
}

@media screen and (min-width : 768px) {
    .main-menu {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

.image-menu {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.menu {
    background: #f2f2f2;
    border-radius: 30px 30px 0 0;
    position: relative;
    margin-top: -55px;
    padding-bottom: 40px;
}

@media screen and (min-width : 768px){
    .menu {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -30px;
        padding-bottom: 40px;
    }
}

.menu h1 {
    font-family: 'Shrikhand', sans-serif;
    font-size: 30px;
    font-weight: 500;
    padding: 30px 0 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width : 768px) {
    .menu h1 {
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 25px;
        padding: 50px 0 30px 20px;
    }
}

.menu h1 span {
    flex: 1;
    min-width: 0;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%; /* 🔥 très important */
}

/* bloc texte */
.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 🔥 empêche centrage */
    gap: 4px;
}

/* titre */
.text h4 {
    margin: 0;
}

/* sous-texte */
.text span {
    margin: 0;
}


.hearts {
   position: relative;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.hearts i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    cursor: pointer;
}


.menu > div .choix {
    opacity: 0;
    animation: loading-menu 0.5s ease;
    animation-fill-mode: forwards;
  }
  
  .menu > div .choix:nth-child(3) {
    animation-delay: 0.5s;
  }
  
  .menu > div .choix:nth-child(4) {
    animation-delay: 1s;
  }

@media screen and (min-width : 768px) {
    .appetizer {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}

@keyframes loading-menu {
    0% {
      transform:  translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

.menu .appetizer h3 {
    padding: 30px 0 20px 15px;
    font-weight: 300;
    text-decoration-line: underline;
    text-decoration-color: #99E2D0;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

@media screen and (min-width : 768px) {
    .menu .appetizer h3 {
        display: flex;
        padding: 30px 0 20px 45px;
    }
}

.menu .appetizer .choix {
    background: #ffffff;
    width: 90%;
    height: 70px;
    display: flex;
    border-radius: 12px;
    margin: 0 auto 15px auto;
    box-shadow: 0px 7px 10px 2px #e1e1e1;
    justify-content: space-between;
}

.menu .appetizer .choix .content {
    padding: 10px 15px 10px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    overflow: hidden;
}

.menu > div .choix h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.menu .appetizer .choix .check {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    border-radius: 0 12px 12px 0;
    background-color: #99e2d0;
    color: #fff;
    width: 0;
    height: 100%;
    transition: width 0.5s, transform 3s;
}

.menu .appetizer .choix:hover .check {
    width: 100px;
}

.menu .appetizer .choix:hover .fa-circle-check {
    animation: spin 0.5s ease-in-out normal;
}

.menu .main-course .choix:hover .fa-circle-check {
    animation: spin 0.5s ease-in-out normal;
}

.menu .dessert .choix:hover .fa-circle-check {
    animation: spin 0.5s ease-in-out normal;
}

.fa-circle-check {
    overflow: hidden;
    
}

@keyframes spin {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.menu .appetizer .choix p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
}

.menu > div .choix b {
    margin: 36px 15px 0 0;
}

@media screen and (min-width : 768px) {
    .main-course {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}

.menu .main-course h3 {
    padding: 30px 0 20px 15px;
    font-weight: 300;
    text-decoration-line: underline;
    text-decoration-color: #99E2D0;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

@media screen and (min-width : 768px) {
    .menu .main-course h3 {
        display: flex;
        padding: 30px 0 20px 45px;
    }
}

.menu .main-course .choix {
    background: #ffffff;
    width: 90%;
    height: 70px;
    display: flex;
    border-radius: 12px;
    margin: 0 auto 15px auto;
    box-shadow: 0px 7px 10px 2px #e1e1e1;
}

.menu .main-course .choix .content {
    padding: 10px 15px 10px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    overflow: hidden;
}

.menu .main-course .choix .check {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    border-radius: 0 12px 12px 0;
    background-color: #99e2d0;
    color: #fff;
    width: 0;
    height: 100%;
    transition: width 0.5s, transform 3s;
}

.menu .main-course .choix:hover .check {
    width: 100px;
}

.menu .main-course .choix p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
}

@media screen and (min-width : 768px) {
    .dessert {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}

.menu .dessert h3 {
    padding: 30px 0 20px 15px;
    font-weight: 300;
    text-decoration-line: underline;
    text-decoration-color: #99E2D0;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

@media screen and (min-width : 768px) {
    .menu .dessert h3 {
        display: flex;
        padding: 30px 0 20px 45px;
    }
}

.menu .dessert .choix {
    background: #ffffff;
    width: 90%;
    height: 70px;
    display: flex;
    border-radius: 12px;
    margin: 0 auto 15px auto;
    box-shadow: 0px 7px 10px 2px #e1e1e1;
}

.menu .dessert .choix .content {
    padding: 10px 15px 10px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    overflow: hidden;
}

.menu .dessert .choix .check {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    border-radius: 0 12px 12px 0;
    background-color: #99e2d0;
    color: #fff;
    width: 0;
    height: 100%;
    transition: width 0.5s, transform 3s;
}

.menu .dessert .choix:hover .check {
    width: 100px;
}

.menu .dessert .choix p {
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.btn-commande {
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 180px;
    height: 45px;
    background: linear-gradient(#ff79Da, #9356DC);
    color: #ffffff;
    margin: 50px auto 0 auto;
    box-shadow: 2px 4px 8px 5px #cbcbcb;
}

.btn-commande:hover {
    filter: brightness(1.1);
    box-shadow: 2px 4px 7px 7px #b4b4b4;
}

